.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
}
.card-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image img {
  width: 200px;
  height: 200px;
}
.card-title {
  padding-top: 0.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.card-price {
  font-family: monospace;
  font-size: large;
  padding: 0.4rem 0;
}
.card-btn {
  padding: 0.6rem;
  font-weight: 600;
  background-color: blueviolet;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
.extra-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 0.5rem;
  margin: 0.45rem;
}
