.App {
  display: flex;
  flex-direction: row;
}
.filter-section {
  flex-basis: 20%;
}
.product-section {
  flex-basis: 80%;
}
.filterable {
  font-size: 44px;
  padding-left: 2rem;
  color: rgb(238, 177, 55);
  text-decoration: underline;
}
